AzureDataFactory/Pipelines/pl_ingest_population_data_support_live/pipeline/pl_ingest_population_data.json
{
    "name": "pl_ingest_population_data",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata1",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Check if files exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_raw_gz",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "columnCount"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "If Condition1",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Metadata1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('Get Metadata1').output.columnCount,13)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Send Email",
                            "description": "",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "POST",
                                "url": "http://file-path.com",
                                "body": "Pipeline {pl_ingest} has failed due  to {error}"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "copy_Population_Data",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:10:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_population_raw_gz",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_population_raw_tsv",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Delete the file after copying",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "copy_Population_Data",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.00:10:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_population_raw_gz",
                                    "type": "DatasetReference"
                                },
                                "logStorageSettings": {
                                    "linkedServiceName": {
                                        "referenceName": "ls_ablob_covidreportingsa",
                                        "type": "LinkedServiceReference"
                                    },
                                    "path": "coviddatagzip"
                                },
                                "enableLogging": true,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Check if files exists",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_raw_gz",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.12:00:00",
                    "sleep": 10
                }
            }
        ],
        "concurrency": 1,
        "annotations": [],
        "lastPublishTime": "2024-09-14T00:51:47Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}